@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500;700&family=Poppins:wght@300;400;500&display=swap');

:root{
    --lg-font: 'Kaisei Tokumin', serif;
    --sm-font: 'Poppins', sans-serif;
    --pink: #e5345b;
}

body{
    font-family: var(--sm-font);
}

 .rang{
color: crimson;
text-transform: uppercase;
 }
 /* carousel start */
  



 .max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.home {
    display: flex;
    
     
    height: 100vh; 
    color: #fafafa;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
}

.home .max-width {
    margin: auto 0 auto 280px;
}
.home .home-content .text-1{
        font-size: 27px;
}
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;

}
.home .home-content .text-3 span{
    color: crimson;
    font-weight: 500;
}
.home .home-content a{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    text-decoration: none;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
.home .home-content a:hover{
    color: crimson;
    background: none;
} 
#carouselExampleCaptions{
    height: 100vh;
}
.carousel-item img {
    height: 100vh;
}
.home-content{
    margin-top: 50%;
     

}
  /* carousel ends */

 
 
/* button start*/
.bg-primary{
    background-color: var(--pink)!important;
}

.btn:not(.nav-btns button){
    background-color: #fff;
    color: rgb(85, 85, 85);
    padding: 10px 28px;
    border-radius: 25px;
    border: 1px solid rgb(85, 85, 85);
}
.btn:not(.nav-btns button):hover{
    background-color: var(--pink);
    color: #fff;
    border-color: var(--pink);
}

/* button ends*/


/* text color */
.text-primary{
    color: var(--pink)!important;
}

/* navbar start*/
.navbar{
    -webkit-box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
            box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
}
.navbar-brand img{
    width: 30px;
}
.navbar-brand span{
    letter-spacing: 2px;
    font-family: var(--lg-font);
}
.nav-link:hover{
    color: var(--pink)!important;
}
.nav-item{
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.05);
}

/* navbar ends*/
 
/* title start*/
.title h2::before{
    position: absolute;
    content: "";
    width: 4px;
    height: 50px;
    background-color: var(--pink);
    left: -20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}
/* title ends*/


/* collection start*/
 


.active-filter-btn{
    background-color: var(--pink)!important;
    color: #fff!important;
    border-color: var(--pink)!important;
}
.filter-button-group .btn:hover{
    color: #fff!important;
}
.collection-img span{
    top: 20px;
    right: 20px;
    width: 46px;
    height: 46px;
    border-radius: 50%;
}
/* collection ends*/

/* special start*/
.special-img span{
    top: 20px;
    right: 20px;
}
.special-list .btn{
    padding: 8px 20px!important;
}
.special-img img{
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.special-img:hover img{
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
}
/* special ends*/

/* offers start*/
#offers{
    background: url(../images/offer_img1.jpg) center/cover no-repeat;
}
#offers .row{
    min-height: 60vh;
}
.offers-content span{
    font-size: 28px;
}
.offers-content h2{
    font-size: 50px;
    text-align: center;
    font-family: var(--lg-font);
    border-radius: 9rem;
    width: 50%;
}
.offers-content .btn{
    border-color: transparent!important;
     
}
.offers-content h4 span{
    color: #222822;
    text-transform: uppercase;
    
    font-weight: 500;

}
.offers-content h4{
    color: #fff;
}
 
/* offers ends*/
 


/* about  start*/
#about{
    background-color: rgba(179, 179, 179, 0.05);
}
/* about  ends*/


/* newsletter  start*/
#newsletter{
    background-color: rgba(179, 179, 179, 0.05);
}
#newsletter p{
     
}
#newsletter .input-group{
    max-width: 500px;
}
#newsletter .form-control{
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
#newsletter .btn{
    background-color: var(--pink);
    color: #fff;
    border-color: var(--pink);
}
#newsletter .btn:hover{
    background-color: #000;
    border-color: #000;
}
/* newsletter  ends*/

/* footer  start*/
footer .brand{
    font-family: var(--lg-font);
    letter-spacing: 5px;
}
footer a{
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}
footer a:hover{
    color: var(--pink)!important;
}


 
 .payment-method img{
    max-width: 40px;
    border-radius: 2rem;
    cursor: pointer;
 }

.google-play-store img{
    max-width: 120px;
    
    cursor: pointer;
    border-radius: 8px;
}

/* footer ends */

/* responsive  */
@media(min-width: 992px){
    .nav-item{
        border-bottom: none;
    }
}
@media(max-width:500px){

    #carouselExampleCaptions{
        width: 100%;
         
    }
}
hr {
    margin: 1rem 0;
    width: 30%;
    display: inline-block;
    color: crimson;
    background-color: currentColor;
    border: 0;
    padding: 2px;
    opacity: 0.25;
  }
  
  @media(max-width: 1300px){
    .home .max-width{
        margin-left: 0px;
    }
}
@media(max-width: 991px){
    .home .home-content{
        padding: 0 50px;  
        
         
  }
}

@media(max-width: 947px){
    .max-width{
        padding: 0 50px;  
  }
  .home .home-content .text-2{
    font-size: 70px;
}
.home .home-content .text-3{
    font-size: 35px;
}
.home .home-content{
    font-size: 23px;
    padding: 10px 30px;
}
.max-width{
    max-width: 800px;
     
}
}

@media(max-width: 690px){
    .max-width{
        padding: 0 23px;
     }
     .home .home-content{
        font-size: 20px; 
    }
    
      .home .home-content .text-2{
        font-size: 60px;
    }
    .home .home-content .text-3{
        font-size: 32px;
    }
}


@media(max-width: 500px){
     
   
    .home .home-content .text-2{
      font-size: 50px;
  }
  .home .home-content .text-3{
      font-size: 32px;
  }
  }